html,
body, head {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  color: white;
  padding-bottom: 40px;
}
p {
  color: #848484;
}

input {
  background-color: #2D2D2D;
  border: none;
}

a {
  text-decoration: none;
  color: #848484;
}

span{
    display: block;
    overflow: hidden;
    padding-right: 5px;
    padding-left: 10px;
}
